@import "../../styles/variables";

.cartInner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    background-color: $dark-orange;
    padding: 0.5rem 1.5rem;
    width: 100%;
    max-height: 100vh;
    border: solid 1px $dark-brown;
    border-radius: 1rem;

    & > .emptyCartCont {
        height: 80%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 1fr;
        & > .emptyImageCont {
            position: relative;
            height: 50%;
            width: 50%;
            & > .emptyImage {
                object-fit: contain;
            }
        }
    }

    & > .cartItems {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        min-height: 300px;
        max-height: 60vh;
        overflow: scroll;
    }
    .cartControls {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        p {
            width: 50%;
        }
        .cartButton {
            width: 50%;
            height: 50%;
        }
    }

    p {
        width: 50%;
    }
}


@media(min-width: 600px) {
    .cartInner {
        & > .cartItems {
            width: 100%;
        }
    }
}