@import "../../styles/variables";

.cartInner {
    & > .cartItems {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 0;
    }
    & > .cartControls {
        margin-top: auto;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        font-size: 1.2rem;
        & > div {
            display: flex;
            height: 2rem;
            gap: 0.5rem;
            justify-content: space-evenly;
            text-align: center;
            & > p {
                color: $dark-green;
                width: fit-content;
            }
            & > .cartButton {
                width: 50%;
                border: 1px solid $dark-brown;
                border-radius: 1rem;
                background-color: $silk;
                color: $dark-green;
                font-weight: 500;
                cursor: pointer;
                    &:hover  {
                        color: $light-orange;
                    }
                    &:active {
                        background-color: $light-brown;
                    }
                }
            }
        }
    

    p {
        width: 50%;
    }
}

@media (min-width: 600px) {
    .cartInner {
        & > .cartItems {
            width: 100%;
        }
    }
}
