@import '../../styles/variables';

.cardCont {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $silk;
    overflow: hidden;
    border-radius: 1%;
    
    color: $dark-green;

    & > .imageCont {
        position: relative;
        height: 100%;
        width: 100%;
        transition: height 300ms ease-in-out;
        & .image {
            object-fit: cover;
        }
    }

    & > .textCont {
        display: flex;
        flex-direction: column;
        height: 15%;
        width: 100%;
        text-align: center;
        transition: transform 300ms ease-in-out;

        & > .overlayDesc {
            display: none;
            transform: translateY(-100%);
        }
    }
    
    & > .buyButton {
        position: absolute;
        cursor: pointer;
        bottom: 0;
        left: -100%;
        font-weight: 400;
        height: 15%;
        min-height: 2rem;
        width: 100%;
        z-index: 2;
        transition: transform 300ms ease-in-out;
        border: $light-green 1px solid;
    }
}

@media (min-width: 600px){
    .cardCont {
        transition: height 300ms ease-in-out;
        &:hover {
            transition: transform 300ms ease-in-out;
            & > .imageCont {

            & > .imageOverlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: $silk;
                    opacity: 0.7;
                    z-index: 2;
                }
            }

            & > .textCont {
            transform: translateY(-300%);
            z-index: 3;

                & > .overlayDesc {
                    display: block;
                    transform: translateY(0%);
                }            
            }

            & > .buyButton {
                transform: translateX(100%);
            }
        }
    }
}