@import '../../styles/variables';

.navbarCont {
    position: fixed;
    top: 0;
    left: 2%;
    right: 2%;
    height: 4rem;
    width: 96%;
    max-width: 1980px;
    z-index: 10;
    padding-top: 0.1rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5rem;

    & > .logoCont {
        display: flex;
        justify-content: center;
        color: $dark-brown;
        background-color: #FEFAE099;
        border-radius: 2rem;
        width: fit-content;
        padding: 0 0.5rem;
        max-width: 325px;
        & > .logo {
            gap: 0.2rem;
            display: flex;
            & > img {
                height: 100%;
            }
            & > h1 {
                display: grid;
                align-items: center;
                font-size: clamp(1rem, 1vw + 0.9rem, 2rem);
                line-height: 1;
            }
        }
    }
            & > .navToggles {
                display: flex;
                justify-content: flex-end;
                height: 100%;
                width: fit-content;
                gap: 0.25rem;

                & > .navToggle {
                    display: grid;
                    place-items: center;
                    flex: 1;
                    font-size: clamp(1.5rem, 2vw + 1.5rem, 2.5rem);
                    width: clamp(3rem, 10vw + 3rem, 145px);
                    border: solid 1px $dark-brown;
                    border-radius: 1rem;
                    color: $light-green;
                    cursor: pointer;
                    &:nth-of-type(1){
                        background-color: $light-orange;
                    }
                    &:nth-of-type(2){
                        background-color: $dark-orange;
                    }
                }
            }

            & > .dropdownCont {
                position: fixed;
                top: 4.5rem;
                bottom: 2vh;
                right: 2%;
                width: 95%;
                border-radius: 1rem;
                overflow: auto;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none;  /* IE 10+ */

                background-color: #BC6C25ee;
                padding: 0.5rem 1rem;

                border: solid 1px $dark-brown;
                border-radius: 1rem;
                    &::-webkit-scrollbar {
                        width: 0px;
                        background: transparent; /* Chrome/Safari/Webkit */
                    }
                    &.navCont {
                        height: fit-content;
                        background-color: #DDA15Eee;
                    }
                & > .navDropdown {
                display: flex;
                flex-direction: column;
                flex: 1;
                
                    & > .navItem {
                        font-size: 2.5rem;
                        font-weight: 400;
                        color: $light-green;
                        &:hover {
                            color: $silk;
                        }
                    }
            }
        }
    
}

@media(min-width: 600px){
    .navbarCont {
        & > .dropdownCont {
            width: 294px;
        }
    }
}