@import '../../styles/variables';

.navbarCont {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    max-width: 1980px;
    z-index: 10;
    padding: 0.2rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5rem;

    & > .logoCont {
        display: flex;
        padding: 0.1rem 0.5rem;
        color: $dark-brown;
        background-color: #FEFAE099;
        border-radius: 2rem;
        width: 55%;
        max-width: 325px;
        & > .logo {
            gap: 0.2rem;
            display: flex;
            & > img {
                height: 100%;
            }
            & > h1 {
                display: grid;
                align-items: center;
                font-size: clamp(1rem, 1vw + 0.9rem, 2rem);
                line-height: 1;
            }
        }
    }
            & > .navToggles {
                display: flex;
                justify-content: flex-end;
                height: 100%;
                width: fit-content;
                gap: 0.25rem;

                & > .navToggle {
                    display: grid;
                    place-items: center;
                    flex: 1;
                    font-size: clamp(1.5rem, 2vw + 1.5rem, 2.5rem);
                    width: clamp(3rem, 10vw + 3rem, 145px);
                    border: solid 1px $dark-brown;
                    border-radius: 1rem;
                    color: $light-green;
                    cursor: pointer;
                    &:nth-of-type(1){
                        background-color: $light-orange;
                    }
                    &:nth-of-type(2){
                        background-color: $dark-orange;
                    }
                }
            }

            & > .dropdownCont {
                position: fixed;
                top: 4rem;
                bottom: 1rem;
                right: 2.5%;
                width: 95%;
                border-radius: 1rem;
                overflow: hidden;
            
                & > .navDropdown {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 1rem;
                background-color: #DDA15Eee;
                border: solid 1px $dark-brown;
                border-radius: 1rem;
                
                    & > .navItem {
                        font-size: 2.5rem;
                        font-weight: 400;
                        color: $light-green;
                        &:hover {
                            color: $silk;
                        }
                    }
            }
        }
    
}

@media(min-width: 600px){
    .navbarCont {
        padding: 0.2rem 0.5rem;
        & > .dropdownCont {
            width: 294px;
            right: 0.5rem;
        }
    }
}