@import '../../styles/variables';

.navbarCont {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 75%;
    z-index: 3;

    display: flex;
    flex-wrap: nowrap;


    & > .navbarInner {
        display: flex;
        justify-content: space-around;
        background-color: $light-orange;
        width: 75%;

        & > .navItem {
            font-size: 2rem;
            color: $light-green;
            width: fit-content;
        }
    }

    & > .cart {
        width: 25%;
    }
}