.asideInner {
    height: 100%;
    width: 100%;
    
    position: relative;
    background-color: black;

    & > .imageCont {
        & .imageTop {
            object-fit: cover;
            clip-path: polygon(100% 0, 0 0, 0 100%);
        }

        & .imageBottom {
            object-fit: cover;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
    }
}

@media (min-width: 600px) {
    .asideInner {
        display: flex;
        & > .imageCont {
            position: relative;
            width: 50%;
                & .imageTop,
                & .imageBottom {
                    clip-path: none;
                    width: 50%;
                }
        }
    }
}
