@import '../../styles/variables';


.heroCont {
    position: relative;
    height: 100%;
    width: 100%;

        & > .heroBg {
        height: 100%;
        width: 100%;
        background-position-x: 35%;
        background-position-y: 65%;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    & > .heading {
        z-index: 2;
        position: absolute;
        top: -1px;
        right: 0;
        height: 40%;
        width: 100%;
        clip-path: polygon(0 0, 100% 0%, 100% 0, 100% 100%);
        background: $silk;
        background: linear-gradient(to bottom, $silk 0%, #FEFAE099 100%);
        display: flex;
        justify-content: flex-end;
        animation: slide 2000ms linear forwards;
        
        @keyframes slide {
            0% {
                top: -100%
            }

            100% {
                top: -1px
            }
        }

        & > h1 {
            padding: 1rem 0 0 clamp(0rem, 3rem - 10vw, 3rem);
            width: clamp(244px, 1vw + 244px, 600px);
            height: fit-content;
            text-transform: capitalize;
            text-align: start;
            font-weight: 700;
            color: $dark-brown;
            font-size: clamp(1.2rem, 1vw + 1.2rem, 7rem);
            animation: quickFade 3000ms linear forwards;
            & > span {
                text-align: start;
                display: block;
                animation: quickFade 4000ms linear forwards;
                padding-left: 2rem;
            }
            & a {
                display: block;
                padding-left: 4.5rem;
                text-align: start;
                text-decoration: underline 2px $dark-orange;
                text-underline-offset: 10px;
                animation: quickFade 5000ms linear forwards;
                &:hover {
                    color: $dark-orange;
                }
            }
        }

        @keyframes quickFade {
            0% {
                opacity: 0;
            }

            80% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }
    }
}


@media(min-width: 600px){
    .heroCont {
        .heading {
            height: 30%;
            & > h1 {
                width: clamp(305px, 305px + 12vw, 900px);
                padding-left: 0;

                & > span {
                    text-align: end;
                    padding-left: 0;
                    padding-right: 0.5rem;
                        a {
                        display: unset;
                        padding: 0;
                }   }
            }
        }
    }
}