@import '../../styles/variables';

.container {
    height: 1800px;
    width: 100%;
    margin-bottom: 3rem;
    
    display: flex;
    flex-direction: column;

    & > .bannerInner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem 2rem;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 600px) {
    .container {
        height: 900px;
        & > .bannerInner {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media (min-width: 900px) {
    .container {
        height: 450px;
        & > .bannerInner {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
    }
}