@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,ol,button {
  padding: 0;
}

/* Remove default margin */
body,h1,h2,h3,h4,p,ul,
ol,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-width: 325px;
  max-width: 1800px;
  background-color: #FEFAE0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Andada Pro', serif;
  font-size: 16px;
}

/* Remove list styles on ul, ol */
ul,ol {
  list-style: none;
}

/* A elements get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}